/* Footer design */
.footer {
  background-color: #333333;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #FFFFFF;
  position: relative;
}

.footer i {
  font-size: 30px;
  color: #FFFFFF;
  transition: all 0.5s ease;
}

.footer i:hover {
  color: yellow;
}
