<ul class="list-inline text-center small-padding deco-none">
  <% data.flats.each do |name, infos| %>
    <li>
      <% link_to "/flats/#{name}.html" do %>
      <%= image_tag "#{name}.jpg", class: "avatar-large" %>
      <h3><%= infos.owner_name.capitalize %></h3>
    </li>
  <% end %>
  <% end %>
</ul>

